body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
form{
    display: inline-block;
    margin-top: 20px;
    border: 5px solid hsl(238, 74%, 44%);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}

h1{
    color: hsl(238, 74%, 44%);
}

#inputTemperature{
    padding: 10px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

label{
    font-size: 18px;
    padding: 10px;
    margin: auto;
}

h2{
    margin-top: 20px;
    color: hsl(238, 74%, 44%);
}


