body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(0, 9%, 45%);
}

#calculator{
    font-family: sans-serif;
    background-color: hsla(0, 0%, 0%, 0.673);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.323);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(38, 80%, 2%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(38, 80%, 5%);
}

button:active{
    background-color: hsl(38, 80%, 10%);
}

.opeartorBtn{
    background-color: hsl(220, 80%, 50%);
}

.opeartorBtn:hover{
    background-color: hsl(220, 80%, 55%);
}