body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 3rem;
    margin-top: 20px;
    color: #333;
}

.choices{
    margin-bottom: 30px;

}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(233, 66%, 48%);
    cursor: pointer ;
    transition: background-color 0.3s ease;
}

.choices button:hover{
    background-color: hsl(233, 66%, 58%);
}

#playerDisplay, #computerDisplay{
    font-size: 2rem;
    margin-bottom: 20px;
}

#resultDisplay{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.scoreDisplay{
    font-size: 2rem;
    margin-bottom: 20px;
}


.greenText, #playerDisplay{
    color: green;
}
.redText,  #computerDisplay{
    color: rgb(171, 59, 59);
}