body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 51, 51);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weatherForm{
    margin-top: 20px;
}

.cityInput{
    width: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    width: 300px;
}

button[type = "submit"]{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

button[type = "submit"]:hover{
    background-color: #0056b3;
}

.card{
    background: linear-gradient(180deg, rgb(55, 55, 254), rgb(252, 188, 69));
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}

p{
    font-size: 1.5rem;
    margin: 5px;
}

.cityDisplay, .temperatureDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: hsl(0, 44%, 4%);
}

.humidityDisplay, .descriptionDisplay{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: hsl(0, 44%, 4%);
}

.weatherEmojiDisplay{
    font-size: 5rem;
    margin-bottom: 15px;
}

.errorDisplay{
    color: red;
    font-size: 1.5rem;
    margin-top: 20px;
}